.green
{
    color: green;
}

.arial
{
    font-family: arial;
}

h1, h1 + p
{
    text-align: center;
}

body
{
    background-image: url("../greyzz.png");
}

img {
    float: right;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

section
{
    display: inline-block;
    vertical-align: top;


}
